body {
  margin: 0;
  background: #000; 
}

/*Just added*/

#splash_title{
  width: 80%;
  height: 50%;
  z-index: 3;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
    

}

#splash_title h1{
  color: #CAD6D4;
  padding: 0 0 10px 0;
  font-size: 5em;
  font-weight: 100;
}

/*#splash_title .splash-animation{

  max-width: 1000px;
  width: 100%;
  min-width: 700px;
  margin: 0 auto;
}*/

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2 ;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #CAD6D4;
  margin: 0 auto;
}

/*end*/

#splash video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  background: url(../img/bg.png) #f4f4f4 no-repeat center center fixed; 
  background-size: cover;
  transition: 1s opacity;

}

#featured{
  position: relative;
  width: 100%;
  top: 710px;
  background: #f4f4f4;
  z-index: 4;




}



h1 {
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
?


@media screen and (max-width: 500px) { 
  div{
    width:70%;
  } 
}

/*Just added media query below*/

@media only screen and (max-width : 480px){
  body { 
    background-color: #3B8B8C ;
    /*background: url(../img/bg.png) #f4f4f4 no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    }
  .overlay{
      display: none;
    }
  #splash video { 
    display: none; 
  }
  #splash_title h1{
    font-size: 2em;
  }

}

/*end*/

.top{
	padding-top: 120px;
}

#featured{
	padding-bottom: 30px;
}

.footer .navbar{
	margin-bottom: 0;
}

.first{
	padding-left: 0;
}

.last{
	padding-right: 0;
}

.more-btn{
	display: block;
}

.artist-bio {
	margin-bottom: 35px;
}